name: discord message
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - name: notify discord in curl
      uses: roanfranklin/action-notify@master
      env:
        DISCORD_WEBHOOK_ID: ${{ secrets.DISCORD_WEBHOOK_ID }}
        DISCORD_WEBHOOK_TOKEN: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}

        TYPE_MESSAGE: warning
        TEXT_MESSAGE: "Iniciando procedimento."

        ACTOR: ${{ github.actor }} 
        REPOSITORY: ${{ github.repository }}
        REFERENCE: ${{ github.ref }}
        NAMESPACE: "Prodution"
        