name: discord message
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - name: Prepare
      id: prep
      run: |
        echo ::set-output name=autor::${{ github.actor }}
        echo ::set-output name=repository::${{ github.repository }}

    - name: curl
      uses: wei/curl@v1
      with:
        args: |
          -X POST --data '{"content": "A T E N Ç Ã O \n\nUsuário: ${{ steps.prep.outputs.autor }}\nRepositório: ${{ steps.prep.outputs.repository }}\nNamespace: PRODUÇÃO"}' --header "Content-Type:application/json" "https://discord.com/api/webhooks/${{ secrets.WEBHOOK_ID }}/${{ secrets.WEBHOOK_TOKEN }}"

#    - name: send custom message with args
#      uses: appleboy/discord-action@master
#      with:
#        webhook_id: ${{ secrets.WEBHOOK_ID }}
#        webhook_token: ${{ secrets.WEBHOOK_TOKEN }}
#        color: "#FFF000"
#        message: |
#          A T E N Ç Ã O #
#
#          Usuário: ${{ steps.prep.outputs.autor }}
#          Repositório: ${{ steps.prep.outputs.repository }}
#          Namespace: PRODUÇÃO

#    - name: send custom message with args
#      uses: appleboy/discord-action@master
#      with:
#        webhook_id: ${{ secrets.WEBHOOK_ID }}
#        webhook_token: ${{ secrets.WEBHOOK_TOKEN }}
#        args: O usuário ( ${{ steps.prep.outputs.autor }} ) está realizando um procedimento no repositório ( ${{ steps.prep.outputs.repository }} ) em PRODUÇÃO.
