name: discord message
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - name: Notify Discord
      uses: roanfranklin/action-notify@master
      with:
        args:
          --discord_webhook_id="${{ secrets.DISCORD_WEBHOOK_ID }}"
          --discord_webhook_token="${{ secrets.DISCORD_WEBHOOK_TOKEN }}"
          --text="Commit realizado!"
          --type="warning"
          --actor="${{ github.actor }}"
          --repository="${{ github.repository }}"
          --branch="${GITHUB_HEAD_REF}"
          --reference="${{ github.sha }}"
          --namespace="PRODUTION"
        