name: discord message
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - name: Prepare
      id: prep
      run: |
        echo ::set-output name=autor::${{ github.actor }}
        echo ::set-output name=repository::${{ github.repository }}

    - name: send custom message with args
      uses: appleboy/discord-action@master
      with:
        webhook_id: ${{ secrets.WEBHOOK_ID }}
        webhook_token: ${{ secrets.WEBHOOK_TOKEN }}
        color: "#FFF000"
        message: |
          **[  A T E N Ç Ã O  ]**
          O usuário ( ${{ steps.prep.outputs.auttor }} ), está realizando um procedimento no repositório ( ${{ steps.prep.outputs.repository }} ) em PRODUÇÃO.
