name: discord message
on: [push]
jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master

    - name: notify discord in curl
      uses: roanfranklin/action-notify@master
      env:
        DISCORD_WEBHOOK_ID: ${{ secrets.DISCORD_WEBHOOK_ID }}
        DISCORD_WEBHOOK_TOKEN: ${{ secrets.DISCORD_WEBHOOK_TOKEN }}
        TEXT_MESSAGE: "A T E N Ç Ã O \n\nUsuário: ${{ github.actor }}\nRepositório: ${{ github.repository }}\nReferência: ${{ github.ref }}\nNamespace: PRODUTION"