name: Main Branch CI

on:
  push:
    branches:
      - main
    tags:
      - 'v*.*.*'

jobs:
  build:
    runs-on: ubuntu-latest
    environment: develop

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Prepare
        id: prep
        run: |
          USERNAME=${{ secrets.DOCKER_HUB_USERNAME }}
          PASSWORD=${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

          CONTAINER="roanfranklin"
          REPOSITORY="simplewhale"

          VERSION="develop"
          RELEASE=$VERSION
          if [[ $GITHUB_REF == refs/tags/* ]]; then
            VERSION=${GITHUB_REF#refs/tags/v}
          fi

          TAGS="${VERSION}"
          if [[ $VERSION =~ ^[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}$ ]]; then
            TAGS="latest"
            RELEASE=$VERSION
          fi

          echo ::set-output name=tags::${TAGS}
          echo ::set-output name=release::${RELEASE}

          echo ::set-output name=container::${CONTAINER}
          echo ::set-output name=repository::${REPOSITORY}
      
      - name: Show Var
        run: echo "TAGS = ${{ steps.prep.outputs.tags }}"

      - name: Login to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.prep.outputs.container }}/${{ steps.prep.outputs.repository }}:${{ steps.prep.outputs.tags }}

      - name: Build and push 2
        id: docker_build2
        if: ${{ steps.prep.outputs.tags }} == "latest"
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.prep.outputs.container }}/${{ steps.prep.outputs.repository }}:${{ steps.prep.outputs.release }}

      - name: Image digest
        run: |
          echo ${{ steps.docker_build.outputs.digest }}
          echo ${{ steps.docker_build2.outputs.digest }}
